@import "tailwindcss";

:root {
  /* All Colors */
  --clr-primary: rgba(112, 29, 204, 1);
  --clr-secondary: rgb(245, 245, 245);
  --clr-tertiary: rgba(255, 84, 0, 1);
  --clr-white: #ffff;
  --clr-grey: rgb(74, 74, 74);

  /* Bg-Colors */
  --background: var(--clr-white);
  --foreground: var(--clr-secondary);
  --btn-bg: var(--clr-tertiary);

  /* font-Colors */
  --fs-clr-grey: var(--clr-grey);
  --fs-clr-white: var(--clr-white);
}

body {
  background: var(--background);
  color: var(--fs-clr-grey);
  font-family: "Livvic", sans-serif;
}

.btn {
  background-color: var(--clr-tertiary);
  color: var(--fs-clr-white);
}

/* gradient text  */
.gradient-text {
  font-size: 3.75rem;
  font-weight: 700;

  background: linear-gradient(
    to right,
    rgba(255, 84, 0, 0.6),
    rgba(112, 29, 204, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  @media (min-width: 40em) {
    white-space: nowrap;
  }
}

/* Hides scrollbar cross-browser */
.custom-scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
